.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.search-icon {
  margin-top: 20px;
  width: 90%;
  height: 25px;
  border-radius: 25px;
  border-color: gainsboro;
  padding-left: 20px;
}

/* Container for centering the table body */
.tablebody-container {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.tablebody-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
  border-bottom: 1px solid gainsboro;
}

.tablebody-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid gainsboro;
}

.action button {
  margin-right: 10px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}